.burger {
    position: absolute;
    width: 30px;
    height: 18px;
    right: 0;
    justify-content: end;
    cursor: pointer;
    display: none;
  }
  
  .burger span,
  .burger::before,
  .burger::after {
    position: absolute;
    right: 0;
    height: 10%;
    width: 100%;
    transition: all .3s ease;
    background-color: #fff;
    
  }
  
  .burger::before,
  .burger::after {
    content: "";
    
  }
  
  .burger::before {
    top: 0; 
  }
  
  .burger::after {
    bottom: 0;
  }
  
  .burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  
  .burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  
  .burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  
  .burger._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }